# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled C++ Builder Object files
*.ilc
*.ild
*.ilf
*.ils
*.exe
*.local
*.#00
*.obj
*.tds
*.map
*.pch
__history/*

